<div class="d-flex flex-column align-items-center justify-content-center main-content">
  <!-- Breadcrumb no topo -->
  <nav aria-label="breadcrumb" class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/upload">Upload</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chat</li>
    </ol>
  </nav>

  <div class="content-wrapper text-center">
    <!-- Botão de Voltar -->
    <button (click)="goBack()" class="btn btn-secondary back-button mb-3">← Voltar</button>

    <!-- Histórico de mensagens do chat -->
    <div class="chat-messages">
      <div *ngFor="let message of chatHistory" class="response">
        <p>{{ message.timestamp }} - G7E Advisor (Resposta): {{ message.response }}</p>
      </div>
    </div>

    <!-- Título e Input de mensagem na parte inferior -->
    <div class="input-section">
      <div class="input-container">
        <textarea
          [(ngModel)]="userInput"
          placeholder="Entre com sua questão..."
          class="chat-input"
        ></textarea>
        <button (click)="onSubmit()" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>

  <!-- Componente de Loading -->
  <app-loading *ngIf="isLoading"></app-loading>
  <router-outlet></router-outlet>
</div>
