a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  position: relative;
  min-width: 250px;
  max-width: 250px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  text-align: center;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
  text-align: center;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-align: center;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
  width: 100%; /* Ocupa a largura total do sidebar */
  text-align: center;
}

ul.CTAs a {
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #fff !important;
  background: #6d7fcc;
  text-align: center;
  padding: 10px;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.main-content {
  background-image: url('/assets/IARAG.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.content-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; /* Usar flexbox para centralização */
  flex-direction: column; /* Direção em coluna para alinhar itens */
  align-items: center; /* Centraliza itens horizontalmente */
  justify-content: center; /* Centraliza itens verticalmente */
  height: 100%; /* Para garantir que ocupe o espaço disponível */
  max-width: 800px;
  width: 100%;
  margin-top: 5%;
}

input[type="file"] {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}

.info-panel {
  font-size: 0.9em !important;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 5%;
}

h3 {
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
}

h2, h4, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Peso mais leve */
  color: #333; /* Ajuste a cor conforme desejado */
}

.sidebar-footer {
  position: absolute;
  bottom: 0.1%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar-footer .footer-image {
  max-width: 100%;
  height: auto;
  width: 150px;
  display: block;
}
